@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
    width: 300px;
    margin-bottom: 20px;
}

/* for color visualization */
.test{
    background-color: #FF9BD2; /* primary*/
    background-color: #D63484; /* secondary*/
    background-color: #F8F4EC; /* accent*/
    background-color: #402B3A; /* background */
    background-color: #FF8A8A; /* error 1 */
    background-color: #FF4E4E; /* error 2 */
}